BACKEND_PORT=4000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb
ADMIN_API_TOKEN=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
TYPEORM_SYNC=true
